<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header id="myHeader" class="hdr">
            <img src="https://dummyimage.com/200x100/a30b24/ffffff&text=PassMan" alt="" />
      
            <nav>
                <ul>
                    <li><a class="link" href="/home">Home</a></li>
                    <li><a class="link" href="/add">Add password</a></li>
                    <li><a class="link" href="/all">All passwords</a></li>
                    <li><a class="link" href="/logout">Log Out</a></li>
                </ul>
            </nav>
        </header>
        <script src="/js/app.js"></script>
    </body>
</html>
