<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet"> 
    </head>
    <body class="index-body">
        <header>
            <img src="https://dummyimage.com/200x100/a30b24/ffffff&text=PassMan" alt="" />
            <nav>
                <ul>
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/register">Sign Up</a></li>
                </ul>
            </nav>
        </header>
        <div class="grid-container">
        <div class="item2">
            <h1>Welcome to PassMan!</h1>
        </div>
        <div class="item3">
            <p>Cannot remember your passwords? Let PassMan remember them for you.</p>
            <p>Get started now.</p>
        </div> 
        <div class="item5">
            <%- include('partials/footer') %>
        </div>
    </div>
    </body>
</html>